<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/coach_dash.css') }}">
</head>

<body>
    <!-- NAV -->
    <img class="bg" src="../static/assets/images/stripes-g4c48d4387_1920.png" alt="abstrack background image">

    <nav>
        <img src="{{url_for('static', filename='assets/images/WeThrow_logo_trans.png')}}" alt="discus throw">

        <a href="/clear">Logout</a>
    </nav>
    <!-- NAV -->
    <!-- MAIN -->

    <main>
        <h1>Hello, {{suser.first_name}} {{suser.last_name}}</h1>
        <h2>My Throwers</h2>
        {% for messages in get_flashed_messages() %}
            <p style="text-align: center;">{{messages}}</p>
        {% endfor %}
        <div class="flex_me">
            <div class="throwers">
                {% if users |length ==0 %}
                    <h3 style="margin-bottom: 50px;">No Throwers Added</h3>
                {% endif %}
                <ul>
                    {% for user in users %}
                    <li><a href="/thrower/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <button class="add"><p class="add" onclick="displayAdd()">Add A Thrower</p></button>
        </div>
    </main>

    <div class="flex">
        <div class="add_form">
            <div class="formT">
                <p>Insert Thrower Email</p>
                <p onclick="removeAdd()" class="x">X</p>
            </div>
            <form action="/add_thrower" method="post">
                <input type="text" name="email" id="email">
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static',filename='script/script.js') }}"></script>
</body>

</html>