* {
    margin: 0;
    padding: 0;
    color: rgb(228, 228, 228);
}

body{
    background: rgb(0, 82, 83);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.bg {
    width: 100%;
    height: 100%;
    position: fixed;
    /* left: 10%; */
    top: 0; 
    z-index: -1;
}


img {
    width: 450px;
}

.body_flex{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    margin-bottom: 15px;
}

.site{
    margin-top: 30px;
    text-align: center;
    font-size: 64pt;
    margin-bottom: 20px;
    text-shadow: 3px 3px 6px rgb(0, 0, 0);

}

.errors {
    background-color: rgb(52, 52, 52);
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    border-bottom: none;
}

.errors p{
    text-decoration: none;
}

.login, .signup {
    border: 2px solid black;
    background-color: rgb(52, 52, 52);
    padding: 20px;
    width: 400px;
}

.login {
    border-top: none;
}

.signup{
    position: absolute;
    top: 250px;
    display: none;
}

.show {
    display: initial !important;
}

.signT{
    display: flex;
    justify-content: space-between;
}

.close:hover{
    cursor: pointer;
}

.center h1{
    text-align: center;
}

.log{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.log input, button {
    color: black;
}
.log input, button, label {
    font-size: 18pt;
}
.sign input, button, label {
    font-size: 18pt;
}
.sign input, button {
    color: black;
}

.sign button, .log button {
    border-radius: 5px;
    padding: 2px;
    box-shadow: 2px 2px black;
}

button:active{
    box-shadow: none;
}

.sign{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

p {
    font-size: 16pt;
    text-decoration: underline;
    margin-top: 10px;
}

p:hover{
    cursor: pointer;
}

.inline {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}